* {
    padding: 0;
    margin: 0;
}

body {

    font-size: 100%;
    background-color: #1d2b2a;
    background-image: url(404-stripe.png), url(404-noise.png);
    background-repeat: repeat-x, repeat;
    background-position: 0 0%;
    background-attachment: fixed;
    font-family: "Muli", sans-serif;
    color: #d4f8e3;
    -webkit-font-smoothing: none;
    -moz-font-smoothing: none;
    -moz-animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
    -webkit-animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
    animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
}

body :after {
    visibility: visible;
    content: '';
    background-color: #d4f8e3;
    -moz-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
    -webkit-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
    box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
    -moz-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
    -webkit-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
    animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
}


@-moz-keyframes blink {
    to {
        background-color: #223332;
    }
}

@-webkit-keyframes blink {
    to {
        background-color: #223332;
    }
}

@keyframes blink {
    to {
        background-color: #223332;
    }
}

@-moz-keyframes skip {
    to {
        background-position: 0 100%;
    }
}

@-webkit-keyframes skip {
    to {
        background-position: 0 100%;
    }
}

@keyframes skip {
    to {
        background-position: 0 100%;
    }
}

@-moz-keyframes flicker {
    to {
        color: #bddeca;
    }
}

@-webkit-keyframes flicker {
    to {
        color: #bddeca;
    }
}

@keyframes flicker {
    to {
        color: #bddeca;
    }
}

@-moz-keyframes ready {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes ready {
    to {
        visibility: hidden;
    }
}

@keyframes ready {
    to {
        visibility: hidden;
    }
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #999;
}

p {
    line-height: 2em;
    margin: 0 0 20px;
}


.header {
    width: 100%;
    min-height: 450px;
    margin: 0 auto 30px;
    padding: 10px 0;
    background-size: 100%;
}

@media screen and (max-width: 1500px) {
    .header {
        background-size: auto;
    }
}

.header .h1 {
    margin: 10px 0 20px;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 2px 4px;
}

.head-wrap {
    margin: 30px auto 30px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;
}

.tagline {
    display: block;
    padding: 20px 0 0;
    opacity: 0;
    color: #fff;
    font-weight: 600;
    text-shadow: #000 0px 1px 3px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.shift-text {
    margin: 40px auto 110px;
}

.shift-text .text-body {
    height: 300px;
}

.shift-text .tagline {
    opacity: 0.9;
}

/* text editor styles */
.text-editor-wrap {
    display: block;
    margin: auto;
    height: auto;
    max-width: 75%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
    clear: both;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.title-bar {
    padding: 5px 0;
    font-size: 0.75em;
    text-align: center;
    color: #000000;
    background-color: #f8f8f8;
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

.text-body {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    color: #fff;
    font-size: 1.55em;
    line-height: 1.20em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


@-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-moz-keyframes blink {
    to {
        background-color: #223332;
    }
}

@-webkit-keyframes blink {
    to {
        background-color: #223332;
    }
}

@keyframes blink {
    to {
        background-color: #223332;
    }
}

@-moz-keyframes skip {
    to {
        background-position: 0 100%;
    }
}

@-webkit-keyframes skip {
    to {
        background-position: 0 100%;
    }
}

@keyframes skip {
    to {
        background-position: 0 100%;
    }
}

@-moz-keyframes flicker {
    to {
        color: #bddeca;
    }
}

@-webkit-keyframes flicker {
    to {
        color: #bddeca;
    }
}

@keyframes flicker {
    to {
        color: #bddeca;
    }
}

@-moz-keyframes ready {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes ready {
    to {
        visibility: hidden;
    }
}

@keyframes ready {
    to {
        visibility: hidden;
    }
}